[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia http://i.imgur.com/gqKCNh.jpg
Type=Link
URL=http://i.imgur.com/gqKCNh.jpg
Icon=image-jpeg
Name[es]=intro_comic.jpg
