body{
  background-color: #fff199;
}

h1,h3,h5{
  text-align: center;
  top: 100px;
  color: red;
  font-family: 'Dancing Script', cursive;
}

.ba-slider{
  width: 600px;
  height: 400px;
  margin: auto;
  border: 5px solid #000;
}

#personaje{
  color:blue;
}

#localizacion{
  position: absolute;
  background-color: white;
  bottom: 700px;
  right: 100px;
}
