body{
  background-color: #fff199;
}

h1{
  text-align: center;
  top: 100px;
  color: red;
  font-family: 'Dancing Script', cursive;
}

p{
  text-align: center;
  top: 100px;
  color: red;
  font-family: 'Dancing Script', cursive;
}
